.editorial__block {
  margin-top: 40px;
}

.editorial__detail__header {
  height: 750px;
  margin-top: 30px;
  color: $white;
  .editorial__detail__header_img {
    width: 100%;
    object-fit: cover;
  }
}

.editorial__detail__article {
  margin-top: -9%;
  &.about {
    margin-top: -39%;
    main {
      p {
        line-height: 2rem;
      }
    }
  }
  main {
    background-color: $white;
    color: $black;
    min-height: 400px;
    p {
      line-height: 3rem;
    }
    .editorial__detail__feature_media {
      padding: 2rem;
      img {
        width: 100%;
      }
    }
    .editorial__detail__article__copy {
      margin-top: 3rem;
      margin-bottom: 6.75rem;
    }
    .editorial__detail__article__lede {
      font-size: 1.5rem;
      line-height: 2;
      margin: 2rem 0;
    }
    .editorial__detail__article__subhead {
      @extend .h5;
    }
    .editorial__detail__article__subhead-alt {
      font-size: 1.5rem;
      font-weight: 600;
      padding-right: 2rem;
    }
    .editorial_img-left, .alignleft {
      float: left;
      vertical-align: text-top;
      margin-left: -15rem;
      margin-right: 3rem;
      @media(max-width: 768px) {
        float: none;
        vertical-align: text-top;
        margin-left: auto;
        margin-right: auto;
        clear: both;
      }
    }
    .editorial_img-right, .alignright {
      float: right;
      vertical-align: text-top;
      margin-right: -15rem;
      margin-left: 3rem;
      @media(max-width: 768px) {
        float: none;
        vertical-align: text-top;
        margin-left: auto;
        margin-right: auto;
        clear: both;
      }
    }
    .editorial_img-left--caption {
      float: left;
      margin-left: -12rem;
      margin-top: 27rem;
      margin-right: 3rem;
      text-transform: uppercase;
      font-size: .75rem;
      font-weight: 600;
    }
  }
}

.editorial__detail__share-footer {
  margin: 1rem 0;
  .editorial__detail__share-footer_background {
    background-color: $white;
    padding: 2rem 0;
  }
  .editorial__detail__share-footer__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2.5
  }
  ul.editorial__detail__share-footer__list {
    display: inline-flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    .editorial__detail__share-footer__item {
      padding: 0 1.5rem;
      font-size: 1.875rem;
      a {
        color: $black;
        &:link, &:visited {
          color: $black;
        }
        &:hover, &:active {
          color: $color__link--active;
        }
      }
    }
  }
}

.related-content-title {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.billboard, .billboard-two {
  position: relative;
  height: 750px;
  .billboard__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    transition: all .17s;
    margin: 0;
    background-color: $black;
  }
  .billboard__filter {

  }
  .billboard__category-line {
    display: block;
    border-right: $white solid 2px;
    position: absolute;
    min-height: 92%;
    top: 8%;
    left: 8.5%;
    &.travel__detail__category-line {
      min-height: 81.6%;
    }
  }
  .billboard__body {
    margin: 6rem;
    margin-top: -35rem;
    padding: 1rem;
    &.travel__detail__body {
      left: 8.5%;
      width: 83%;
    }
    .billboard__title {
      color: $white;
    }
  }
  .billboard__text {
    display: none;
    &.travel__detail__text {
      position: absolute;
      display: block;
      padding: 2rem;
      height: 256px;
      width: 83%;
      bottom: 0;
      left: 8.5%;
      background-color: $white;
      text-align: center;
    }
  }
  .billboard__byline {
    img {
      margin-right: 1rem;
    }
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 600;
    &.billboard__byline-hide {
      display: none;
    }
  }

  .billboard__category-block {
    position: absolute;
    top: 8%;
    left: 6.5%;
    display: flex;
    .billboard__category-block__category-image {
    }
    .billboard__category-block__category-details {
      display: inline-block;
      color: $white;
      .billboard__category-block__category-type {
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
      .billboard__category-block__category-info {
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 8px;
        text-transform: uppercase;
      }
    }
  }
  .billboard__social-block {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 10px;
    text-transform: uppercase;
    .billboard__social-block__list {
      list-style: none;
      color: $white;
      display: inline-flex;
      justify-content: flex-end;
      padding: 0;
      .billboard__social-block__item {
        padding: 0 10px;
        font-size: 1rem;
        a {
          color: $white;
          &:link, &:visited {
            color: $white;
          }
          &:hover, &:active {
            color: $color__link--active;
          }
        }
      }
    }
  }
}

.billboard-two {
  .billboard__category-line {
    display: block;
    border: $white solid 2px;
    border-bottom: none;
    border-right: none;
    position: absolute;
    min-height: 92%;
    width: 100%;
    top: 8%;
    left: 4.2%;
  }
  .billboard__category-block {
    position: absolute;
    top: 2%;
    left: 5%;
  }
  .billboard__filter {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 104%;
    background: rgba($feature__background, .2);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 8%, 4.2% 8%, 4.2% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 8%, 4.2% 8%, 4.2% 104%, 0% 104%);
  }
}
