$search-form__color__text: $black;
$search-form__color__background: $white;
$search-form__color_hover: $gray;

.search {
  background-color: $black;
}

.search-form {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  z-index: 5;
  .search-form__input {
    border-radius: 0;
    padding: 1rem 5rem;
    text-align: right;
  }
}
.link_search-form_opener {
  margin-right: -12px;
  @media (max-width: 768px) {
    margin-right: .25rem;
  }
}
